* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    position: relative;

    .left-side, .right-side {
        width: 50%;
        padding: 50px 70px;
    }

    .left-side {
        background-image: linear-gradient(to bottom right, #3366ff, #000066);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-left {
            
            .dim-title {
                opacity: 0.3;
            }

            .left-title {
                color: white;
                font-size: 60px;
                margin: 20px 0;
            }
            .right-list {
                color: #000066;
                font-size: 20px;
                list-style-type: none;
                display: flex;
                width: 70%;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .right-foot {
            color: white;
            font-size: 30px;
        }
    }

    .right-side {
        
        .main-title {
            font-size: 30px;

            .blue-title {
                color: #3366ff;
            }
        }

        .mobile-welcome {
            display: none;
        }

        .main-subtitle {
            width: 60%;
            color: gray;
            margin: 30px 0;
        }

        form {
            margin: 30px 0 75px 0;

            .form-field {
                margin: 40px 0;
                label {
                    display: block;
                    margin-bottom: 8px;
                    font-size: 18px;
                }

                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid;
                    font-size: 16px;
                    padding: 7px 0;
                }
            }

            .submit {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    color: #3366ff;
                    background-color: lightblue;
                    border:none;
                    font-size: 20px;
                    padding: 5px 27px;
                    border-radius: 8px;
                }

                h4 {
                    font-size: 18px;
                    color: #3366ff;
                }
            }
        }

        .sign-google {
            background-color: lightgray;
            position: absolute;
            width: 50%;
            margin-left: -70px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
            

            button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                background-color: #3366ff;
                color: white;
                border: none;
                margin: 20px;

                svg {
                    width: 25px;
                    background-color: white;
                    padding: 10px;
                    margin-right: 10px;
                }
            }

            p {
                font-size: 16px;

                a {
                    text-decoration: none;
                    color: #3366ff;
                }
            }
        }
    }
}